<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <title>NavX 1.0</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="description" content="年轻人的第一枚导航">
    <meta name="keywords" content="JavaScript,webpack,Vue,Materialize">
    <meta name="author" descriptionn="lwxyfer.com">
    <link rel="stylesheet" type="text/css" href="src/css/icon.css">
    <link rel="stylesheet" type="text/css" href="src/materialize/css/materialize.min.css">
  </head>
  <body style="background:url(src/img/a2.jpg)">
    <header>

      <nav class="row z-depth-2">
      <a href="#" data-activates="slide-out" class="button-collapse left"><i class="mdi-navigation-menu"></i></a>
      <nav class="row z-depth-3">
      <a href="#" data-activates="slide-out" class="button-collapse left show-on-large"><i class="mdi-navigation-menu"></i></a>
        <div class="container col s10 m4 l6 right" id="searchBox">
          <form action="https://www.google.com/search" method="get">
            <div class="input-field">
              <input type="hidden" name="sitesearch" value="http://{{ site }}" />
              <input id="search" type="search" name="q" required value="{{ site }}" placeholder="Google search">
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
        <ul id="slide-out" class="side-nav">
          <li class="light-blue lighten-1 z-depth-2">
            <a href="#!">
              <h4>Nav X 1.0</h4>
            </a></li>
            <li><a href="#!">一个世界</a></li>
            <li><a href="#!">Second Sidebar Link</a></li>
            <li class="bottom"><a href="#">关于</a></li>
          </ul>
        </nav>
      </header>
      <main>
      <div class="center row container" id="thmain">

      
        <my-component msg="导航" dat="days" class="s12 l4"></my-component>
        <my-child></my-child>

        <div class="col s12 l4 left">
          <div class="border-1">
            <h4>字体</h4>
          </div>
          <div class="collection">
            <a v-for="li in days" href="{{ li.link }}" data-tooltip="{{ li.tooltip }}"> {{ li.text }} </a>
          </div>
        </div>

        <div class="col s12 m4 l4 left z-depth-1">
          <div class="z-depth-1 grey lighten-3 border-2">
            <h4>社区</h4>
          </div>
          <ul class="collection">
            <a v-for="lists in edits" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
          </ul>
        </div>
        <div class="col s12 m4 l4 left">
          <div class="z-depth-1 grey lighten-3 border-5">
            <h4>阅读</h4>
          </div>
          <ul class="collection">
            <a v-for="lists in navs" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
          </ul>
        </div>
        <div class="col s12 m4 l5 left">
          <div class="z-depth-1 grey lighten-3 border-3">
            <h4>导航</h4>
          </div>
          <ul class="collection">
            <a v-for="lists in edits" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
          </ul>
        </div>
        <div class="col s12 m4 l4 left">
          <div class="z-depth-1 grey lighten-3 border-4">
            <h4>网站</h4>
          </div>
          <ul class="collection">
            <a v-for="lists in edits" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
          </ul>
        </div>
        <div class="col s12 m5 l5">
          <div class="z-depth-1 grey lighten-3 border-2">
            <h4>SUPER</h4>
          </div>
          <ul class="collection">
            <a v-for="lists in days" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
          </ul>
        </div>
      </div>
      </main>
    <footer></footer>
    <script src="public/bundle.js" charset="utf-8"></script>
  </body>
</html>