<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>NavX 1.0</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="年轻人的第一枚导航">
    <meta name="keywords" content="JavaScript,webpack,Vue,Materialize">
    <meta name="author" descriptionn="lwxyfer.com">
    <link rel="stylesheet" type="text/css" href="src/css/icon.css">
    <link rel="stylesheet" type="text/css" href="src/materialize/css/materialize.min.css">
</head>

<body class="grey lighten-3">
    <header class="navbar-fixed">
        <nav class="red lighten-1 row z-depth-1">
            <a href="#" data-activates="slide-out" class="button-collapse left show-on-large"><i class="mdi-navigation-menu"></i></a>
            <h3 class="col m2 l1 white-text tooltipped" data-position="right" data-delay="50" data-tooltip="配置自己的导航" style="line-height:64px">NavX</h3>
            <div class="container col s10 m4 l4 right white z-depth-1" id="searchBox">
                <form action="https://www.google.com/search" method="get">
                    <div class="input-field">
                        <input id="search" type="search" name="q" required value="" placeholder="Ctrl + Enter" style="height:44px;margin:0px">
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
            <ul id="slide-out" class="side-nav">
                <li class="light-blue lighten-1 z-depth-2">
                    <a href="#!">
                        <h4>Nav X 1.0</h4>
                    </a>
                </li>
                <li><a href="#!">一个世界</a></li>
                <li><a href="https://github.com/lwxyfer/NavX/tree/master">Github</a></li>
                <li>这是一个坑，写完发现自己好傻啊</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="center row container">
            <div class="col s12 m4">
                <div class="border-1 left-align">
                    <h4>日常</h4>
                </div>
                <div class="collection">
                    <a v-for="li in days" href="{{ li.link }}" data-tooltip="{{ li.tooltip }}"> {{ li.text }} </a>
                </div>
            </div>
            <div class="col s12 m4 fix-layout">
                <div class="border-2 left-align">
                    <h4>文章</h4>
                </div>
                <ul class="collection">
                    <a v-for="lists in blogs" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
                </ul>
            </div>
            <div class="col s12 m4">
                <div class="border-5 left-align">
                    <h4>社区</h4>
                </div>
                <ul class="collection">
                    <a v-for="lists in community" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
                </ul>
            </div>
            <div class="col s12 m4 l4">
                <div class="border-3 left-align">
                    <h4>文档</h4>
                </div>
                <ul class="collection">
                    <a v-for="lists in doc" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
                </ul>
            </div>
            <div class="col s12 m4 l4">
                <div class="border-4 left-align">
                    <h4>编辑器</h4>
                </div>
                <ul class="collection">
                    <a v-for="lists in edits" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
                </ul>
            </div>
            <div class="col s12 m4">
                <div class="border-2 left-align">
                    <h4>导航</h4>
                </div>
                <ul class="collection">
                    <a v-for="lists in navs" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
                </ul>
            </div>
            <div class="col s12 m4">
                <div class="border-2 left-align">
                    <h4>正则</h4>
                </div>
                <ul class="collection">
                    <a v-for="lists in regexp" href="{{ lists.link }}" data-tooltip="{{ lists.tooltip }}"> {{ lists.text }} </a>
                </ul>
            </div>
        </div>
    </main>
    <script src="public/bundle.js" charset="utf-8"></script>
</body>

</html>
