/*
 * custom css
 */
body {
	font-family: Roboto,"MicroSoft YaHei",sans-serif;
}
header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
nav {
	height:120px;
}
h1,h2,h3,h4 {
	margin:0px;
	padding:1rem;
	color:#fff;
}
h1 {
	font-size:3rem;
}
h2 {
	font-size:2.6rem;
}
h3 {
	font-size:2rem;
}
h4 {
	font-size:1.6rem;
}
main {
	margin-top:3rem;
}
main h1,h2,h3,h4 {
	color:#232323;
}
.collection a.collection-item {
	color: #292929;
}
#slide-out .bottom {
	position:absolute;
	width:100%;
	bottom:2rem;
	color:#000;
}
.center > div {
	border-radius:5px;
}
.border-1 {
	border-bottom: 4px solid #37CBF4;
}
.border-2 {
	border-bottom: 4px solid #18D523;
}
.border-3 {
	border-bottom: 4px solid #ff4759;
}
.border-4 {
	border-bottom: 4px solid #0a6eff;
}
.border-5 {
	border-bottom: 4px solid #fff300;
}